@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-red: hsl(0, 100%, 63%);
    --light-pink: hsl(321, 100%, 78%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

/* CONTAINER CLASS*/
.container {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* CONTAINER FLUID CLASS */
.container-fluid {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* MAIN BUTTON CLASS */
.main-button {
    display: block;
    margin: auto;
    height: 6rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 6rem;
    border-radius: 3rem;
    text-decoration: none;
    transition-duration: 200ms;
    background-color: var(--pink);
    width: clamp(25rem, 85vw, 40rem);
    font-family: var(--font-open-sans);
}

.main-button:hover {
    background-color: var(--light-pink);
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    padding: clamp(1.5rem, 4vw, 5rem);
}

#container-logo {
    width: clamp(15rem, 45vw, 25rem);
}

#logo {
    max-width: 100%;
}

#try-it-free {
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: var(--light-pink);
    transition-duration: 200ms;
    font-family: var(--font-poppins);
    border: 2px solid var(--light-pink);
    font-size: clamp(1.5rem, 5vw, 2rem);
}

#try-it-free:hover {
    color: var(--pink);
    border-color: var(--pink);
}

/* INTRODUCTION */
#introduction {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    margin-bottom: 10rem;
}

#main-headline {
    color: var(--very-dark-cyan);
    font-family: var(--font-poppins);
    font-size: clamp(2.5rem, 5vw, 5rem);
}

#main-about {
    margin: auto;
    max-width: 60rem;
    color: var(--very-dark-cyan);
    font-size: clamp(1rem, 5vw, 2rem);
    font-family: var(--font-open-sans);
}

/* MAIN IMAGE */
#main-img-container {
    text-align: center;
    margin-bottom: 10rem;
}

#main-img {
    max-width: 100%;
}

/* STATS */
#stats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 20rem;
}

.stats-headline {
    font-size:6.5rem;
    text-align: center;
    color: var(--very-dark-cyan);
    font-family: var(--font-poppins);
}

.stats-caption {
    font-size: 2rem;
    text-align: center;
    color: var(--very-dark-cyan);
    font-family: var(--font-open-sans);
}

/* FEATURES */
#grow-together {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: var(--very-pale-blue);
}

#flowing-conversations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 15rem;
}

.features-headline {
    color: var(--very-dark-cyan);
    font-family: var(--font-poppins);
    font-size: clamp(3rem, 5vw, 5rem);
}

.features-about {
    color: var(--very-dark-cyan);
    font-family: var(--font-open-sans);
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.features-group {
    width: clamp(40rem, 42vw, 65rem);
}

.features-img {
    width: clamp(30rem, 50vw, 60rem);
}

.curve {
    width: 100%;
    margin: -3px;
}