@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

/* CONTAINER CLASS*/
.container {
    margin: auto;
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(1rem, 3vw, 5rem);
}

#container-logo {
    width: clamp(15rem, 15vw, 24rem);
}

#logo {
    max-width: 100%;
}

#try-it-free {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: var(--pink);
    border-radius: 1.5rem;
    text-decoration: none;
    width: clamp(12rem, 10vw, 15rem);
    font-family: var(--font-poppins);
    border: 0.1rem solid var(--pink);
}