@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

/* CONTAINER CLASS*/
.container {
    margin: auto;
}

/* CONTAINER FLUID CLASS */
.container-fluid {
    width: 100%;
}